@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: url('./assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body {
	@apply font-sans;
}

h1,
h2,
a {
	@apply text-white;
}

hr {
	@apply my-6;
	@apply h-[1px];
	@apply w-full;
}

@media only screen and (min-width: 768px) {
	/* Custom scroll bar */
	/* width */
	::-webkit-scrollbar {
		width: 15px;
	}

	/* height */
	::-webkit-scrollbar {
		height: 15px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		/*background: #2d2d2d;*/ /* Slightly lighter than bg-gray-900 */
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #4b5563; /* Tailwind's bg-gray-600 */
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #6b7280; /* Tailwind's bg-gray-500 */
	}
}
